fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-multipart

torch
torchvision
scikit-learn
xgboost

langchain
faiss-cpu
openai

stable-baselines3
gymnasium

redis
celery

python-dotenv
mlflow
-e
